* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.tela-de-fundo {
  width: 100%;
  height: 100%;
  background-image: url("./imagens/fundo.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.botao-clicavel {
  position: absolute;
  width: 90px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.botao-clicavel img {
  width: 64px;
  height: 64px;
}

.botao-clicavel span {
  display: block;
  margin-top: 6px;
  font-size: 14px;
  text-shadow: 0 0 5px black;
}

.botao-inicio {
  top: 12%;
  left: 6%;
}

.botao-sobre {
  top: 38%;
  left: 18%;
}

.botao-loja {
  top: 65%;
  left: 8%;
}

.botao-trabalhos {
  top: 28%;
  right: 12%;
}

.botao-croquis {
  top: 52%;
  right: 35%;
}

.botao-contato {
  bottom: 14%;
  right: 20%;
}

@media (max-width: 768px) {
  .botao-inicio {
    top: 30%;
    left: 10%;
  }

  .botao-sobre {
    top: 35%;
    left: 55%;
  }

  .botao-loja {
    top: 65%;
    left: 15%;
  }

  .botao-trabalhos {
    top: 15%;
    right: 10%;
  }

  .botao-contato {
    bottom: 10%;
    right: 30%;
  }
}